@model Web.Models.LessonPlan

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-bs-dismiss="modal">X</button>
    </div>
    <div class="modal-body">
@*        @if (Model.Subject==null)
        {
            <h6>@Model.Group.Id</h6>
        }
        else
        {
            <h6>@Model.Subject.Name</h6>
        }*@
    </div>

    <div class="modal-footer">

    </div>

</div>