@model Web.Models.LessonPlan

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-bs-dismiss="modal">X</button>
    </div>
    <div class="modal-body">
        <h6>@Model.Group.Speciality.Name-@Model.Group.Name</h6>
        <h6>@Model.Weekday</h6>
    </div>

    <div class="modal-footer">

    </div>

</div>